<div class="wrapper">

    <section>
        <article class="producto1">
            <h2>Producto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto2">
            <h2>Producto 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto3">
            <h2>Producto 3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto4">
            <h2>Producto 4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto5">
            <h2>Producto 5</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto6">
            <h2>Producto 6</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto7">
            <h2>Producto 7</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
        <article class="producto8">
            <h2>Producto 8</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eos provident placeat, tempore dignissimos, voluptatem sit deserunt repellendus, similique excepturi quisquam nemo dolorum eius necessitatibus? Reiciendis quibusdam reprehenderit
                atque provident?
            </p>
            <a href="">VER MÁS <i class="fas fa-chevron-right"></i></a>
        </article>
    </section>
</div>