<footer>
    <span class="line"></span>
    <div class="footer-wrapper">
        <div class="footer-nav">
            <ul>
                <li><a href="">3D Evolution</a></li>
                <li><a href="">Silvia Lab</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Promociones</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="logo-copyright">
            <figure class="footer-logo">
                <img src="" alt="">
            </figure>
            <span>Copyright © 2019 <strong>SILVA</strong></span>
        </div>
        <div class="contact">
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><strong>Tel:</strong> 443 340 1169</li>
                <li>contact@email.com</li>
            </ul>
        </div>
    </div>
</footer>