<header class="header-wrapper">
    <nav id="navigation" class="nav-bar">
        <div class="brand">
            <span class="icon"></span>
            <span class="logo">3D</span>
        </div>

        <div class="control_menu">
            <a href="#navigation" class="open"><i class="fas fa-bars"></i></a>
            <a href="#" class="close"><i class="fas fa-times"></i></a>
        </div>

        <ul class="navigation_menu">
            <li><a href=""><i class="fas fa-home"></i></a></li>
            <li><a href="">Productos</a></li>
            <div class="bullet"> </div>
            <li><a href="">Promociones</a></li>
            <div class="bullet"> </div>
            <li><a href="">Contacto</a></li>
        </ul>
    </nav>
</header>